@font-face {
  font-family: "Boarding";
  src: url("font/Boarding\ PersonalUse.ttf");
}

body {
  background: linear-gradient(135deg,rgb(224, 224, 224), rgb(240, 240, 240) 80%) fixed;
}

header {
  background-color: bisque;
  border-bottom: 2px dotted burlywood;

  h1 {
    font-family: "Boarding";
    font-weight: 900;
    font-size: 50px;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  a {
    padding: 24px;
    text-decoration: none;
    color: #212529;
    display: block;
    height: 100%;
    width: 100%;
    &:hover {
      color: #212529;
    }
  }
}

main {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#index-main {
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  padding: 16px;
  margin: 20px 20px;
  box-shadow: grey 0 0 2px;
  background: bisque;
  width: 900px;
  max-width: 96vw;

  h3 {
    margin-bottom: 20px; 
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 46%;
    height: 120px;
    background: rgba($color: #ffffff, $alpha: 0.6);
    margin: 10px;
    color: #212529;
    box-shadow: grey 0 0 2px;
    &:hover {
      color: #212529;
      animation: "index-links" 100ms ease forwards;
    }
  }
}

@keyframes index-links {
  to { transform: scale(1.05); }
}

#title {
  background-color: rgb(252, 252, 252);
  border-radius: 20px 0;
  width: fit-content;
  padding: 16px;
  margin: 20px auto;
  box-shadow: grey 0 0 2px;
  h2 {
    display: inline;
  }
  span {
    display: inline-block;
  }
  button {
    margin-right: 16px;
  }
}

#list-btn {
  border-radius: 16px 0;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.loading-style {
  border-radius: 5px;
  background-color: rgb(255, 248, 144);
  padding: 5px;
  font-size: 1.2rem;
  margin: 0 20px;
}

#content {
  display: block;
  margin: 0 auto;
}

#targetContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: auto;
  max-width: 1084px;
  padding: 0px;
  background-color: white;
  border: 2px solid gainsboro;
  border-radius: 5px;
  margin: 0 auto 64px;
}

.listItem {
  display: flex;
  height: fit-content;
  width: 540px;
  padding: 16px;
  height: 220px;
  border: 1px solid gainsboro;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  &:hover {
    color: #212529;
    h4 {
      color: #205f9e;
    }
  }

  h4 {
    font-size: larger;
  }

  p {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
  }

  img {
    max-width: 120px;
    max-height: 120px;
    display: block;
    margin: 0 auto;
  }
}

#listItem--img {
  display: block;
  max-height: 120px;
  min-width: 130px;
}

@media (max-width: 1199.98px) {
  #targetContainer {
    flex-direction: column;
    width: fit-content;
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .listItem {
    height: 200px;
    width: 700px;

    img {
      max-width: 140px;
      max-height: 140px;
    }
  }

  #listItem--img {
    max-height: 140px;
    min-width: 150px;
  }
}

.itemBody {
  display: block;
  width: 740px;
  padding: 20px;

  img {
    display: block;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  p {
    padding-left: 20px;
    text-indent: 6px;
  }
}



/********
  LOADER
*********/

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: lightgray;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
